 @import url("https://fonts.googleapis.com/css?family=Lato:400,900");

body.frame{
  margin: 0 auto;
}

body {
  background-color: rgb(252, 252, 252);
}
.frame {
  margin: 0 auto;
  width: 690px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 6px;
  text-align: center;
}


.header {
  font-size: 36px;
  font-family: 'Lato';
  font-weight: bold;
}

.screen {
  display: flex;
  width: 400px;
  margin-top: 20px;
  margin-left: 10px;

}

.right-half {
  margin-left: 40px;
}

.next-container {
  display: flex;
  flex-direction: column;
}

#next-piece {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin-left: 60px;
  /* border: 1px solid red; */
}

#start-game {
  margin-bottom: 30px;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 20px;
  background-color: #40d9ac;
  border-color: #40d9ac;
  border-radius: 6px;
  text-decoration: none;
  outline: none;
  border: 3px;
  cursor: pointer;
  box-shadow: 0 0 50px rgb(200, 200, 200);
}



.score-container {
  display: flex;
  justify-content: center;
}

.score-label {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
}

#score {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

#cleared-rows {
  font-family: Arial;
  font-size: 10px;
}

#canvas {
  border: 3px solid #40d9ac;
  border-radius: 3px;
}

.instructions {
  font-family: 'Lato';
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-bottom: 20px;

}

.instructions li {
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-left: 0px;
  width: 300px;
}

.game-over {
  font-family: 'Lato', cursive;
  font-size: 26px;
}
