.frame {
  width: 215px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: 2px solid grey;
  box-shadow: 2px 2px 3px 3px #ccc;
  text-align: center;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
}


.screen {
  display: flex;
  width: 200px;
  margin-top: 10px;
  margin-left: 5px;
  /* margin: 15px; */
  /* border: 2px solid grey; */
  /* box-shadow: 2px 2px 3px 3px #ccc; */
}

.right-half {
  margin-left: 15px;
}

#next-piece {
  border: 1px solid grey;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  font-family: Helvetica;
  font-size: 10px;
}

#start-game {
  margin-bottom: 15px;
}

#score {
  font-family: Helvetica;
  font-size: 10px;
  margin-bottom: 15px;
}

#cleared-rows {
  font-family: Helvetica;
  font-size: 10px;
}

canvas {
  border: 1px solid red;
}
