 @import url("https://fonts.googleapis.com/css?family=Lato:400,900");

.frame {
  width: 345px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}


.header {
  font-size: 18px;
  font-family: 'Lato';
  font-weight: bold;
}

.screen {
  display: flex;
  width: 200px;
  margin-top: 10px;
  margin-left: 5px;

}

.right-half {
  margin-left: 20px;
}

.next-container {
  display: flex;
  flex-direction: column;
}

#next-piece {
  width: 75px;
  height: 75px;
  margin-bottom: 5px;
  font-family: 'Lato';
  font-size: 10px;
  font-weight: bold;
  align-items: center;
  margin-left: 30px;
  /* border: 1px solid red; */
}

#start-game {
  margin-bottom: 15px;
  font-family: 'Lato';
  background-color: #40d9ac;
  border-color: #40d9ac;
  border-radius: 3px;
  text-decoration: none;
  outline: none;
}

/* .no-show {
  display: none;
} */

.score-container {
  display: flex;
  justify-content: center;
}

.score-label {
  font-family: 'Lato';
  font-size: 10px;
  font-weight: bold;
}

#score {
  font-family: 'Lato';
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
}

#cleared-rows {
  font-family: Arial;
  font-size: 10px;
}

#canvas {
  border: 1px solid #40d9ac;
  border-radius: 3px;
}

.instructions {
  font-family: 'Lato';
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom: 10px;

}

.instructions li {
  font-size: 7px;
  text-align: left;
  margin-top: 5px;
  margin-left: 0px;
  width: 150px;
}
